{% extends 'admin/master.html' %}

{% block body %}

<style>
  .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
  }
  .bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .bs-callout p:last-child {
    margin-bottom: 0;
  }
  .bs-callout code {
    border-radius: 3px;
  }
  .bs-callout + .bs-callout {
    margin-top: -5px;
  }
  .bs-callout-default {
    border-left-color: #777;
  }
  .bs-callout-default h4 {
    color: #777;
  }
  .bs-callout-primary {
    border-left-color: #428bca;
  }
  .bs-callout-primary h4 {
    color: #428bca;
  }
  .bs-callout-success {
    border-left-color: #5cb85c;
  }
  .bs-callout-success h4 {
    color: #5cb85c;
  }
  .bs-callout-danger {
    border-left-color: #d9534f;
  }
  .bs-callout-danger h4 {
    color: #d9534f;
  }
  .bs-callout-warning {
    border-left-color: #f0ad4e;
  }
  .bs-callout-warning h4 {
    color: #f0ad4e;
  }
  .bs-callout-info {
    border-left-color: #5bc0de;
  }
  .bs-callout-info h4 {
    color: #5bc0de;
  }
</style>

<div class="container">
  <div class="jumbotron">
    <h2 id="views">Views:</h2>
    <ul>
      <li><a href="/product/">Add/Edit/View Product</a></li>
      <li><a href="/location/">Add/Edit/View RawMaterial</a></li>
      <li><a href="/location/">Add/Edit/View ProductRawMaterialMap</a></li>
      <li><a href="/location/">Add/Edit/View Location</a></li>
      <li><a href="/productmovement/">Add/Edit/View ProductMovement</a></li>
      <li><a href="/rawmaterialmovement/">Add/Edit/View RawMaterialMovement</a></li>
      <li><a href="/productmanufacturing/">Add/Edit/View ProductManufacturing</a></li>
    </ul>

    <h2 id="report">Report:</h2>
    <ul>
      <li><a href="/productstock/">Product Stock in each location</a></li>
      <li><a href="/rawmaterialstock/">Raw Material Stock in each location</a></li>
    </ul>
  </div>
</div>

{% endblock %}
